{% extends 'user/student/course/java/layout.html' %}
{% block body %} 

<h1>Java <span class="color_h1">Tutorial</span></h1>


<div class="w3-panel w3-info intro">
<p>Java is a programming language.</p>
<p>Java is used to develop mobile apps, web apps, desktop apps, games and much 
more.va is a high-level programming language originally developed by Sun Microsystems and released in 1995. Java runs on a variety of platforms, such as Windows, Mac OS, and the various versions of UNIX. This tutorial gives a complete understanding of Java. This reference will take you through simple and practical approaches while learning Java Programming language.</p>
<h2><span class="color_h1">Applications of Java</span></h2>
<p>
The latest release of the Java Standard Edition is Java SE 8. With the advancement of Java and its widespread popularity, multiple configurations were built to suit various types of platforms. For example: J2EE for Enterprise Applications, J2ME for Mobile Applications.

The new J2 versions were renamed as Java SE, Java EE, and Java ME respectively. Java is guaranteed to be Write Once, Run Anywhere.<br>

<span style="font-weight: bold;font-family: cursive ">Multithreaded</span><span> − With Java's multithreaded feature it is possible to write programs that can perform many tasks simultaneously. This design feature allows the developers to construct interactive applications that can run smoothly.</span><br>

<span style="font-weight: bold;font-family: cursive ">Interpreted</span><span> − Java byte code is translated on the fly to native machine instructions and is not stored anywhere. The development process is more rapid and analytical since the linking is an incremental and light-weight process.</span><br>

<span style="font-weight: bold;font-family: cursive ">High Performance</span><span> − With the use of Just-In-Time compilers, Java enables high performance.</span><br>

<span style="font-weight: bold;font-family: cursive ">Distributed</span><span> − Java is designed for the distributed environment of the internet.</span><br>

<span style="font-weight: bold;font-family: cursive ">Dynamic</span><span> − Java is considered to be more dynamic than C or C++ since it is designed to adapt to an evolving environment. Java programs can carry extensive amount of run-time information that can be used to verify and resolve accesses to objects on run-time.</span></p>

<h2><span class="color_h1">Hello World using java</span></h2>
<div>

<div class="exercisewindow">

<p>Just to give you a little excitement about Java programming, I'm going to give you a small conventional C Programming Hello World program</p>
<div class="exerciseprecontainer ws-grey" style="border: 1px solid grey">
<pre class="language-java ws-grey" style="overflow: auto;"><code>public class MyClass {
  public static void main(String[] args) {</code>
    System.out.print("Hello World")
  }
}
</code></pre>
</div>
<br>

</div>

<hr>
</div>

</div>
<div class="w3-clear nextprev">
<a class="w3-left w3-btn" href="/java/{{0}}">&#10094; Home</a>
<a class="w3-right w3-btn" href="/java/{{1}}">Next &#10095;</a>
</div>


{% endblock %}
